:host {
  display: block;
  margin: 0 auto var(--spacing-400) auto;

  button {
    font-family: var(--body-font-family);
    font-weight: 700;
  }

  svg {
    display: none;
    width: 18px;
    height: 18px;
  }
}

.message {
  margin: 0;
  align-content: center;
  text-align: center;
  padding: 0 12px;
  font-weight: 700;
  font-size: 14px;
  flex: 1 1 auto;
  border-radius: var(--s2-radius-100);
  background-color: var(--s2-blue-200);
  color: var(--s2-blue-1000);
  border: 1px solid var(--s2-blue-400);

  &.type-error {
    background: var(--s2-red-900);
    border: 1px solid var(--s2-red-300);
    color: #fff;
  }
}

.nx-loc-actions-header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 34px;
    border: 1px solid var(--s2-gray-400);
    border-radius: 8px;
    color: var(--s2-gray-900);
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    span {
      display: block;
      margin-bottom: 2px;
    }
  }

  .nx-prev {
    padding: 0 16px 0 12px;
    background: var(--s2-gray-200);
  }

  .nx-next {
    padding: 0 12px 0 16px;
    background: var(--s2-gray-200);
  }

  .nx-next.accent {
    color: #fff;
    border: 1px solid var(--s2-blue-700);
    background: var(--s2-blue-900);
  }

  .icon {
    display: block;
  }
}
