:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-size: 14px;
}

.link-group {
  position: relative;
  text-decoration: none;
  display: flex;
  gap: 8px;
  color: #000;
  z-index: 1;

  &::after {
    display: block;
    content: "";
    position: absolute;
    inset: -8px;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }

  .url-icon {
    width: 33.33px;
    height: 32px;
    border-radius: 5px;
    background-color: #959595;
    flex: 0 0 auto;

    &.is-active {
      background-color: rgb(250 15 0);
    }
  }

  .group-text {
    .group-title {
      line-height: 1;
      margin: 0 0 4px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .group-detail {
      font-size: 13px;
      line-height: 1;
      margin: 0;
    }
  }
}

.edit-icon {
  background-image: url("http://localhost:6456/nx/blocks/loc/img/S2_Icon_Edit_20_N.svg");
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.aem-icon {
  background-image: url("/blocks/browse/img/Smock_ExperienceCloud_24_N.svg");
  background-repeat: no-repeat;
}
